/* Logs.css */

/* Card container: flex column to ensure cards are in one line and centered */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the cards horizontally */
    gap: 20px;            /* Space between cards */

  }
  
  /* Individual user card styling */
  .user-card {
    background-color: #daeff4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 100%;           /* Take up 80% of the container's width */
    max-width: 500px;     /* Limit the card width to 500px */
    text-align: center;
    margin: 0 auto; 
          /* Ensure the card is centered */
  }
  
  .user-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .user-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
  }
  
  /* Button group styling */
  .button-group {
    display: flex;
margin-left: 150px;
    margin-top: 15px;
  }
  
  /* Toggle button styling */
  .toggle-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-btn.allow {
    background-color: #39993c; /* Green for allowing access */
  }
  
  .toggle-btn.disallow {
    background-color: #f32222; /* Red for disallowing access */
  }
  
  .toggle-btn:hover {
    opacity: 0.9;
  }
  
  /* Delete button styling */
  .delete-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ff1414;
    color: #fff;
    cursor: pointer;
    margin-left: 4%;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #bc0e0e;
  }
  
  /* Page title styling */
  .page-title {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin: 20px 0;
  }
  